<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>ADMIN - INSTITUTO SUPERIOR SAO PEDRO</title>
<link rel="icon" href="ispsp-logo.png" />
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
<div>
  <header>
   <%-include("./views/partials/header")%>
  </header>
</div>
<br/>
<div class="jumbotron">
  <div class="row">
    <div class="col-3">
      <div class="card bg-primary">
        <div class="card-body">
          <h5>ALUNOS</h5>
          <small>Por:</small>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card bg-success">
        <div class="card-body">
          <h5>TITULO</h5>
          <small>Por:</small>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card bg-info">
        <div class="card-body">
          <h5>TITULO</h5>
          <small>Por:</small>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card bg-warning">
        <div class="card-body">
          <h5>TITULO</h5>
          <small>Por:</small>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="jquery-3.5.1.js" type="text/javascript"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>
<script type="text/javascript">
  $(()=>{

    var foto=$("#foto");
    foto.on("change",function(){alert("mudando")})
    /*$.ajax({
      method:"GET",
      url:"http://localhost:10000/session",
      success:function(data){
        alert(data);
        console.log(data)
      }
    })*/
  })
</script>
</body>
</html>
